<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="RealPropertyTaxSystem.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<connectionStrings>
		<add name="bg_zsi_rpm_instance"
   connectionString="server=192.168.1.200;database=bg_zsi_rpm_db;user id=rpt_user;password=rpt_user123" providerName="MySql.Data.MySqlClient" />
		<add name="tty_zsi_rpm_instance"
  connectionString="server=192.168.1.200;database=tty_zsi_rpm_db;user id=rpt_user;password=rpt_user123" providerName="MySql.Data.MySqlClient" />
	</connectionStrings>
	<userSettings>
		<RealPropertyTaxSystem.Properties.Settings>
			<setting name="showUpdate" serializeAs="String">
				<value>True</value>
			</setting>
		</RealPropertyTaxSystem.Properties.Settings>
	</userSettings>
</configuration>